.satu {

	width: 300px;
	height: 300px;
	margin: 50px 50px;
	background-color: teal;
	box-shadow: 0px 20px 10px -3px grey, 10px 10px 5px -3px teal,
	-10px -10px 5px -3px yellow;
	border-radius: 50%;
	

}


h1	{

	font-family: Helvetica-sans-serif;
	font-size: 100px;
	text-align: center;
	text-shadow: 5px 8px 1px grey, -5px -8px 1px blue;

}
